<template>
  <div class="about">
    <h2>Über die Archive des Nandus</h2>
    <p class="lead">Hier findest du alle Informationen über den Hintergrund des Projekts.</p>
    <h3 id="autoren">Mitwirkende</h3>
    <div class="grid-x">
      <div class="cell medium-6 text-center">
        <h4>Entwickler</h4>
        <ul style="list-style-type: none; border: 1px solid blac">
          <li><a href="http://www.deder.at/">Daniel Eder</a></li>
        </ul>
      </div>
      <div class="cell medium-6 text-center">
        <h4>Testuser</h4>
        <ul style="list-style-type: none;">
        </ul>
      </div>
    </div>
    <h3 id="fehler">Ich habe einen Fehler gefunden!</h3>
    <p>Hey! Das ist super. Wenn etwas nicht funktioniert, oder du einen Fehler findest, dann verwende doch den folgenden
      Button um uns das Problem zu beschreiben:</p>
    <div class="text-center"><a class="button" href="contact-project+lycis-nandus-archiv-45466203-issue-@incoming.gitlab.com">Fehler
        melden</a></div>
    <h3 id="lizenz">Lizenzbestimmungen</h3>
    <p>
      Die Archive des Nandus bauen auf dem offiziellen Regelwiki zu Das Schwarze Auge von Ulisses Spiele auf. Diese
      Website hält selbst keine Daten zu Regeln oder
      anderweitig publiziertem Spielmateral, außer dem Index, der notwendig ist um durchsuchbarkeit zu erlauben. Alle
      angezeigten Daten sind dabei Teil des offiziellen
      Regelwikis und in keiner Weise modifziert.
    </p>
    <div class="primary callout">
      <p>
        Dieses Produkt wurde unter Lizenz erstellt. Das Schwarze Auge und sein Logo sowie Aventuria, Dere, Myranor,
        Riesland, Tharun, Uthuria, The Dark Eye und ihre Logos sind eingetragene Marken vonUlisses Medien und Spiele
        Distribution GmbH in Deutschland, den U.S.A. und anderen Ländern. Ulisses Spiele und sein Logo sind eingetragene
        Marken der Ulisses Medien und Spiele Distribution GmbH.
      </p>
      <p>
        Dieses Werk enthält Material, das durch Ulisses Spiele und/oder andere Autoren urheberrechtlich geschützt ist.
        Solches Material wird mit Erlaubnis im Rahmen der Vereinbarung über Gemeinschaftsinhalte für SCRIPTORIUM AVENTURIS
        verwendet.
      </p>
      <p>
        Alle anderen Originalmaterialien in diesem Werk sind Copyright 2023 von Daniel Eder und werden im Rahmen der
        Vereinbarung über Gemeinschaftsinhalte für SCRIPTORIUM AVENTURIS veröffentlicht.
      </p>
    </div>
  </div>
</template>

<style>.about {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}</style>
