<script>
import RuleEntryTable from "../components/RuleEntryTable.vue";
export default {
    components: { RuleEntryTable },
    data() {
        return {
            tableheaders: [
                { label: 'Name', field: 'name', sortable: true, searchable: true },
                { label: 'Kategorie', field: 'kategorie', sortable: true, searchable: true },
                { label: 'Sprache', field: 'languages', searchable: true },
                { label: 'Schrift', field: 'writing', searchable: true},
                { label: 'Sozialstatus', field: 'socialStanding', searchable: true},
                { label: 'Nachteile +', field: 'typicalDisadvantages', searchable: true},
                { label: 'Nachteile -', field: 'untypicalDisadvantages', searchable: true},
                { label: 'Vorteile +', field: 'typicalAdvantages', searchable: true},
                { label: 'Vorteile -', field: 'untypicalAdvantages', searchable: true}
            ],
            reloadTrigger: 0
        }
    },
    computed: {
        sqlFilter: {
            get() {
                console.log(this.reloadTrigger)
                let r = this.$route.name.split("-")
                console.log(this.$route)
                let sql = "kategorie = '" + r[0] + "'"
                if (r.length > 1) {
                    sql += " and subkategorie = '" + r.slice(1).join('-') + "';"
                }

                return sql
            }
        }
    },
    watch: {
        "$route.path"(val) {
            // call the method which loads your initial state
            this.reloadTrigger++
            console.log("reload")
        },
    }
}
</script>

<template>
    <div class="grid-x">
        <!--<div class="cell">
            <h2>Profane Sonderfertigkeiten</h2>
        </div>-->
        <div class="cell">
            <RuleEntryTable sqlColumns="name, kategorie, sprache, schrift, sozialstatus, typischeNachteile, untypischeNachteile, typischeVorteile, untypischeVorteile" sqlTable="Kulturen"
                :headers="tableheaders"></RuleEntryTable>
        </div>
    </div>
</template>

<style></style>