<script>
export default {
};

</script>

<template>
  <div id="main">
    <h3>Willkommen!</h3>
    <p class="lead">
      Die <em>Archive des Nandus</em> sind eine Ergänzung zum offiziellen <a href="https://www.ulisses-regelwiki.de/" target="_new">DSA Regelwiki</a> von Ulisses Spiele.
      Auf diesen Seiten findest du Listen, Tabellen und Verweise, welche dir die Suche nach bestimmten Regelementen, wie Sonderfertigkeiten oder Fertigkeiten,
      leichter machen sollen.
    </p>
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell medium-3"></div>
      <div class="cell medium-3"><a href="/about#lizenz" class="button"> <span aria-hidden="true"><i class="fa-solid fa-scroll"></i></span> Lizenzhinweise</a></div>
      <div class="cell medium-3"><a href="/about#fehler" class="button"><i class="fa-sharp fa-solid fa-bug"></i> Fehler melden</a></div>
      <div class="cell medium-3"></div>
      <div class="cell"><hr/></div>

       <!-- release notes 0.5 -->
       <div class="cell">
        <div class="news-post">
          <div class="grid-x">
            <div class="cell blog-header">08.08.2023 - Zauber &amp; Rituale</div>
            <div class="cell blog-body"><p>
              Alle bekannten Zauber und Rituale wurden den Daten hinzugef&uuml;gt und sind nun durchsuchbar. Zaubererweiterungen sind ebenso eingetragen und mit ihrem jeweiligen Zauber verlinkt.
            </p></div>
          </div>
        </div>
      </div>

      <!-- release notes 0.4 -->
      <div class="cell">
        <div class="news-post">
          <div class="grid-x">
            <div class="cell blog-header">04.08.2023 - Kulturen &amp; Suchfunktion</div>
            <div class="cell blog-body"><p>
              Mit dem aktuellen Release werden auch <a href='/character/kulturen'>Kulturen</a> in der &Uuml;bersicht angezeigt. Ebenso ist nun eine allgemeine Suchleiste vorhanden, die eine Suche &uuml;ber
              den Namen eines Regelelements &uuml;ber alle Eintr&auml;ge hinweg erlaubt (Betamodus).
            </p></div>
          </div>
        </div>
      </div>

      <!-- release notes 0.3 -->
      <div class="cell">
        <div class="news-post">
          <div class="grid-x">
            <div class="cell blog-header">30.05.2023 - Bugfix in Abh&auml;ngigkeiten von Sonderfertigkeiten</div>
            <div class="cell blog-body"><p>
              Ein Fehler wodurch bei einigen Sonderfertigkeiten wurden die Abh&auml;ngigkeiten nicht korrekt geladen und stattdessen mit <em>keine</em> ausgewiesen wurde ist
              jetzt behoben.
            </p></div>
          </div>
        </div>
      </div>

      <!-- release notes 0.2 -->
      <div class="cell">
        <div class="news-post">
          <div class="grid-x">
            <div class="cell blog-header">17.05.2023 - Ritualgegenst&auml;nde, Traditionsartefakte &amp; Zeremonialgegenst&auml;nde</div>
            <div class="cell blog-body"><p>
              Alle Traditionsartefakte und Zeremonialgegest&auml;nde sind mit diesem Update in der Kategorie &quot;Ritualgegsnst&auml;nde&quot; abrufbar.
              Sie sind jeweils nach Art des Gegenstands sortiert und k&ouml;nnen, wie alle anderen Sonderfertigkeiten, sortiert und durchsucht werden.
            </p></div>
          </div>
        </div>
      </div>

      <!-- release notes  0.1 -->
      <div class="cell">
        <div class="news-post">
          <div class="grid-x">
            <div class="cell blog-header">02.05.2023 - Der Probebetrieb l&auml;uft!</div>
            <div class="cell blog-body"><p>
              Heute geht der erste Protoyp f&uuml;r die <em>Archive des Nandus</em> an den Start! Folgende Inhalte k&ouml;nnen aktuell abgerufen werden:
              <ul>
                <li>Spezies</li>
                <li>Alle Sonderfertigkeiten (ausgenommen Traditionsartefakte)</li>
              </ul>
            </p></div>
          </div>
        </div>
      </div>
      <div class="cell"><hr/></div>
      <div class="cell text-center"><img src="/src/assets/scriptorium_logo.png" style="width: 50%; margin: auto;"/></div>
    </div>
  </div>
</template>

<style>
#main {
  margin: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-header {
  background-color: #82b74b;
  width: 100%;
  padding: 5px;
  font-size: larger;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.blog-body {
  padding: 5px;
  font-weight: light;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

</style>
