<template>
    <div id="main">
        <h4>Impressum</h4>
        <p><b>Informationen und Offenlegung gemäß &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und &sect; 14 UGB</b>
        </p>
        <p><b>Webseitenbetreiber:</b> Daniel Eder</p>
        <p><b>Anschrift:</b> Thenneberg 31, 2571 Altenmarkt-Thenneberg</p>
        <p><b>UID-Nr:</b> <br> <b>Gewerbeaufsichtbehörde:</b> <br> <b>Mitgliedschaften:</b></p>
        <p><b>Kontaktdaten:</b> <br> Telefon: <br> Email: daniel@deder.at <br> Fax: </p>

        <p><b>Online Streitbeilegung:</b> </p>
        <p><b>Urheberrecht:</b> Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich möglich ist, diversen
            Schutzrechten (z.B dem Urheberrecht). Jegliche Verwendung/Verbreitung von bereitgestelltem Material, welche
            urheberrechtlich untersagt ist, bedarf schriftlicher Zustimmung des Webseitenbetreibers.</p>
        <p><b>Haftungsausschluss:</b> Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Webseitenbetreiber dieser
            Webseite
            keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren
            Betreiber verantwortlich. Sollten Sie dennoch auf ausgehende Links aufmerksam werden, welche auf eine Webseite
            mit
            rechtswidriger Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach § 17
            Abs. 2
            ECG umgehend zu entfernen.<br>Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter
            Sorgfalt
            beachtet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen werden wir den betroffenen Inhalt
        umgehend
        entfernen.</p>
        <p>Quelle: <b><a href="https://ghostweb.agency/datenschutz-generator/">Datenschutz DSGVO Generator</a></b></p>
    </div>
</template>

<style>
#main {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
</style>