<script>
import RuleEntryTable from "../components/RuleEntryTable.vue";
export default {
    components: { RuleEntryTable },
    data() {
        return {
            tableheaders: [
                {label: 'Name', field: 'name', sortable: true, searchable: true },
                {label: 'AP', field: 'ap', sortable: true, width: "5%"},
                {label: 'Typ', field: 'type', sortable: true, searchable: true},
                {label: 'Subtyp', field: 'subtype', sortable: true, searchable: true},
                {label: 'Voraussetzungen', field: 'requirements', searchable: true}
            ],
        }
    }
}
</script>

<template>
    <div class="grid-x grid-margin-x">
        <div class="cell"><h2>Alle Sonderfertigkeiten</h2></div>
        <div class="cell">
            <RuleEntryTable sqlColumns="name, ap, kategorie, subkategorie, voraussetzung" sqlTable="Sonderfertigkeiten" :headers="tableheaders"></RuleEntryTable>
        </div>
    </div>
</template>

<style>
</style>