<script>
import RuleEntryTable from "../components/RuleEntryTable.vue";
export default {
    components: { RuleEntryTable },
    data() {
        return {
            tableheaders: [
                { label: 'Name', field: 'name', sortable: true, searchable: true },
                { label: 'AP', field: 'ap', sortable: true, width: "5%" },
                { label: 'Typ', field: 'type', sortable: true, searchable: true },
                { label: 'Voraussetzungen', field: 'requirements', searchable: true }
            ],
            reloadTrigger: 0
        }
    },
    computed: {
        sqlFilter: {
            get() {
                console.log(this.reloadTrigger)
                let r = this.$route.name.split("-")
                console.log(this.$route)
                let sql = "kategorie = '" + r[0] + "'"
                if (r.length > 1) {
                    sql += " and subkategorie = '" + r.slice(1).join('-') + "';"
                }

                return sql
            }
        }
    },
    watch: {
        "$route.path"(val) {
            // call the method which loads your initial state
            this.reloadTrigger++
            console.log("reload")
        },
    }
}
</script>

<template>
    <div class="grid-x">
        <!--<div class="cell">
            <h2>Profane Sonderfertigkeiten</h2>
        </div>-->
        <div class="cell">
            <RuleEntryTable sqlColumns="name, ap, subkategorie, voraussetzung" sqlTable="Sonderfertigkeiten"
                :sqlFilter="sqlFilter" :headers="tableheaders"></RuleEntryTable>
        </div>
    </div>
</template>

<style></style>