<script>
import RuleEntryTable from "../components/RuleEntryTable.vue";
export default {
    components: { RuleEntryTable },
    inject: ["$store", "queryDatabase", "$regelWikiBaseUrl"],
    data() {
        let self = this
        return {
            tableheaders: [
                {label: 'Name', field: 'name', sortable: true, searchable: true },
                {label: 'AP', field: 'ap', sortable: true, width: "5%"},
                {label: 'Eigenschaften', field: 'eigenschaften', searchable: true},
                {label: 'SK', field: 'sk', sortable: true},
                {label: 'ZK', field: 'zk', sortable: true},
                {label: 'GS', field: 'gs', sortable: true},
                {label: 'Vorteile', field: 'vorteile', searchable: true},
                {label: 'Nachteile', field: 'nachteile', searchable: true},
            ]
        }
    },
}
</script>

<template>
    <div class="grid-x grid-margin-x">
        <div class="cell"><h2>Spezies</h2></div>
        <div class="cell">
            <RuleEntryTable sqlColumns="name, ap, eigenschaften, seelenkraft, zaehigkeit, gs, vorteile, nachteile" sqlTable="Spezies" :headers="tableheaders"></RuleEntryTable>
        </div>
    </div>
</template>

<style>
</style>