<script>
import RuleEntryTable from "../components/RuleEntryTable.vue";
export default {
    components: { RuleEntryTable },
    data() {
        return {
            tableheaders: [
                { label: 'Name', field: 'name', sortable: true, searchable: true },
                { label: 'Probe', field: 'probe', },
                { label: 'Merkmal', field: 'merkmal', sortable: true, searchable: true },
                { label: 'Ziel', field: 'ziel', searchable: true },
                { label: 'Verbreitung', field: 'verbreitung', searchable: true, sortable: true},
                { label: 'Kosten', field: 'kosten' }
            ],
            reloadTrigger: 0
        }
    }
}
</script>

<template>
    <div class="grid-x">
        <!--<div class="cell">
            <h2>Profane Sonderfertigkeiten</h2>
        </div>-->
        <div class="cell">
            <RuleEntryTable sqlColumns="name, probe, merkmal, ziel, verbreitung, kosten" sqlTable="Zauber"
                sqlFilter="ritual = 0" :headers="tableheaders"></RuleEntryTable>
        </div>
    </div>
</template>

<style></style>