<script>
import RuleEntryTable from "../components/RuleEntryTable.vue";
export default {
    components: { RuleEntryTable },
    data() {
        return {
            tableheaders: [
                { label: 'Name', field: 'name', sortable: true, searchable: true },
                { label: 'Min. FW', field: 'fw', sortable: true, searchable: true},
                { label: 'AP-Kosten', field: 'ap', sortable: true, searchable: true },
                { label: 'Zauber', field: 'zauber', searchable: true, sortable: true },
            ],
            reloadTrigger: 0
        }
    }
}
</script>

<template>
    <div class="grid-x">
        <div class="cell">
            <RuleEntryTable sqlColumns="a.name, fw, ap, zauber" sqlTable="Zaubererweiterungen a join Zauber b on a.zauber = b.name"
                sqlFilter="ritual = 0" :headers="tableheaders"></RuleEntryTable>
        </div>
    </div>
</template>

<style></style>