<script>
export default {
    inject: ["$store", "queryDatabase"],
    data() {
        return {
            dbBuildDate: ""
        }
    },
    created() {
        let sql = "select value from Meta where key = 'buildDate'"
        let self = this
        this.queryDatabase(sql).then((result) => {
            self.dbBuildDate = result[0]["values"][0][0].substr(0, 19)
            console.log("build date: " + self.dbBuildDate)
        })
    }
}
</script>

<template>
    <span class="secondray label"><i class="fa-sharp fa-solid fa-database"></i> {{ dbBuildDate }}</span>
</template>

<style></style>