<script>
import { RouterLink } from 'vue-router'
export default {
    mounted() {
        $(document).foundation();
    }
}
</script>

<template>
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Men&uuml;</div>
    </div>

    <ul class="vertical menu accordion-menu" data-accordion-menu id="example-menu"
        data-animate="hinge-in-from-top hinge-out-from-top">
        <li>
            <a href="#" class="menu-header">Charakter</a>
            <ul class="menu vertical nested">
                <li>
                    <RouterLink to="/character/spezies">Spezies</RouterLink>
                </li>
                <li>
                    <RouterLink to="/character/kulturen">Kulturen</RouterLink>
                </li>
                <li>
                    <RouterLink to="/character/professionen">Professionspakete</RouterLink>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-header">Sonderfertigkeiten</a>
            <ul class="menu vertical nested">
                <li>
                    <RouterLink to="/sf/alle">Alle</RouterLink>
                </li>
                <li>
                    <a class="menu-subheader" href="#">Profan</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/profan-allgemein">Allgemein</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/profan-schicksal">Schicksalspunkte</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/profan-talentstil">Talentstile</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/profan-talentsf">Erweiterte Talente</RouterLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-subheader">Kampf</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/kampf-alle">Alle</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/kampf-allgemein">Allgemein</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/kampf-stil">Kampfstile</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/kampf-eksf">Erweiterte Man&ouml;ver</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/kampf-pruegel">Prügel</RouterLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-subheader" href="#">Magisch</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/magisch-allgemein">Allgemein</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/magisch-traditionen">Traditionen</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/magisch-zauberstil">Zauberstile</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/magisch-ezsf">Erweiterte Zauberfertigkeiten</RouterLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-subheader" href="#">Karmal</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/karmal-allgemein">Allgemein</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/karmal-traditionen">Traditionen</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/karmal-liturgiestil">Liturgiestile</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/karmal-eksf">Erweiterte Karmalfertigkeiten</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/karmal-predigt">Predigten</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/karmal-vision">Visionen</RouterLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-subheader" href="#">Übernatürliche</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/magisch-lykantroph">Lykanthropische Gabe</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/magisch-sikaryan">Sikaryan Raub</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/magisch-vampir">Vampirische Gaben</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/pakt-daemon">D&auml;monenpakte</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/pakt-fee">Feenpakte</RouterLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-subheader" href="#">Tiere</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/tiere-allgemein">Allgemein</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/tiere-ausbildung">Ausbildungen</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/tiere-humunculus">Humunculus</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/tiere-kampf">Kampf</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/tiere-trick">Tricks</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/tiere-vertrautentrick">Vertrautentricks</RouterLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-subheader" href="#">Zauberzeichen</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/zz-allgemein">Allgemein</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/zz-ahnenzeichen">Ahnenzeichen</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/zz-alhanisch">Alhanische Zeichen</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/zz-kreise">Bann- &amp; Schutzzeichen</RouterLink>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-header">Ritualgegenst&auml;nde</a>
            <ul class="menu vertical nested">
                <li>
                    <a class="menu-subheader" href="#">Traditionsartefakte</a>
                    <ul class="menu vertical nested">
                        <li>
                            <RouterLink to="/sf/traditionsartefakte">Alle</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-schale">Alchemistenschale</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-animisten">Animistenwaffe</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-bannschwert">Bannschwert</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-druidendolch">Druidendolch</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-echsenhaube">Echsenhaube</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-sichel">Druidensichel</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-fluggeraet">Flugger&auml;t</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-gewand">Gew&auml;nder</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-kessel">Hexenkessel</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-instrument">Instrumente</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-krallenkette">Krallenkette</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-gmkristallkugel">Kugel (Gildenm.)</RouterLink>
                        </li>
                        <li>
                            <RouterLink to="/sf/traditionsartefakte-srkristallkugel">Kugel (Scharlatan.)</RouterLink>
                        </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-krstkristallkugell">Kugel (Kristallom.)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-lebensring">Lebensring</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-stab">Magierstab</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-kappe">Schlemenkappe</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-schuppenbeutel">Schuppenbeutel</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-chronik">Sippenchronik</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-spielzeug">Spielzeug</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-trinkhorn">Trinkhorn</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/traditionsartefakte-stecken">Zauberstecken</RouterLink>
                    </li>
                </ul>
            </li>
            <li>
                <a class="menu-subheader" href="#">Zeremonialgegenst&auml;nde</a>
                <ul class="menu vertical nested">
                    <li>
                        <RouterLink to="/sf/zeremonialggst">Alle</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-angroschanh">Angroschanhänger</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-bds">Buch der Schlange</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-efferd">Efferbart</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-zssah">Eidechsenkleidung</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-nandus">Einornstirnband</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-firun">Firunsmesser</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-swafnir">Flukenamulett</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-travia">G&auml;nsebeutel</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-fetisch">Geisterfetisch</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-peraine">Gr&uuml;ne Handschuhe</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-ifirn">Ifirnsmantel</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-ingerimm">Ingerimmshammer</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-achazkeule">Knochenkeule (Achaz)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-ferkina">Knochenkeule (Ferkina)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-fjarninger">Knochenkeule (Fjarninger)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-gjalsker">Knochenkeule (Gjalsker)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-nivesen">Knochenkeule (Nivesen)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-tahaya">Knochenkeule (Tahaya)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-tairach">Knochenkeule (Tairach)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-keule-trollz">Knochenkeule (Trollzacker)</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-kor">Korspie&szlig;</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-marbo">Marbodolch</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-phex">Mondamulett</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-numinoru">Muschelhorn</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-namenlos">Opferdolch</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-tsa">Prisma</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-boron">Rabenschnabel</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-rondra">Rondrakamm</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-rahja">Roter Schleier</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-hszint">Schlangenstab</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-praios">Sonnenzepter</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-swafnir2">Walschild</RouterLink>
                    </li>
                    <li>
                        <RouterLink to="/sf/zeremonialggst-levthan">Widderkeule</RouterLink>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-header">Magie</a>
        <ul class="menu vertical nested">
            <li>
                <RouterLink to="/magie/zauber">Zauber</RouterLink>
            </li>
            <li>
                <RouterLink to="/magie/rituale">Rituale</RouterLink>
            </li>
            <li>
                <RouterLink to="/magie/erweiterungen">Zaubererweiterungen</RouterLink>
            </li>
        </ul>
    </li>
</ul></template>

<style>.menu-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: #82b74b;
    ;
    color: #333;
    margin-top: 10px;
}

.menu-subheader {
    font-size: large;
    text-align: center;
    background-color: #e3eaa7;
    color: #333;
    margin-top: 5px;
}

.menu ul a {
    border-bottom: 1px solid #3e4444;
}

.menu ul a:hover {
    background-color: #3e4444;
    color: #eee;
}

.router-link-active {
    background-color: #3e4444;
    color: #eee;
    overflow-wrap: break-word;
}</style>