<script>
import TableLite from "vue3-table-lite"
import { defineComponent, createApp, h } from 'vue'

export default {
    components: { TableLite },
    inject: ["$store", "queryDatabase", "$regelWikiBaseUrl"],
    data() {
        return {
            data: [{ name: "Foo", ap: 0, ref: 'nix', wiki: "#" }],
            sortField: 1,
            loading: true,
            searchTerms: ["", ""],
            cnt: 0,
            tableData: []
        }
    },
    computed: {
        tableColumns: {
            get() {
                let headers = this.headers
                if (headers === undefined) return []
                headers.push({ label: 'Referenz', field: 'ref', searchable: true })
                headers.push({ label: 'Wiki', field: 'wiki', width: "5%", display: function (row) { return '<a href="https://www.ulisses-regelwiki.de/' + row.wiki + '"><img src="' + import.meta.env.BASE_URL + 'Ulisses-Icon.png" width="32" height="32"/></a>' } })
                return headers
            }

        },
    },
    props: {
        sqlColumns: String,
        sqlTable: String,
        sqlFilter: String,
        headers: Array
    },
    created() {
        for (let i = 0; i < this.headers.length; ++i) {
            this.searchTerms.push("")
        }

        this.reloadData()
    },
    watch: {
        "sqlFilter"(val) {
            this.reloadData()
        }
    },
    methods: {
        reloadData: function () {
            let sql = "select " + this.sqlColumns + ", referenz, wikiLink from " + this.sqlTable
            if (this.sqlFilter !== undefined) {
                sql += " where " + this.sqlFilter
            }

            this.queryDatabase(sql).then((result) => {
                this.data = []
                this.searchTerms = []
                result.forEach(e => {
                    e["values"].forEach(f => {
                        let row = {}
                        let i = 0
                        this.tableColumns.forEach(column => {
                            row[column.field] = f[i]
                            i++
                        })
                        this.data.push(row)
                    })
                });
                // console.log(this.data)
                this.loading = false
                this.updateDataFilters()
            });
        },
        initTable: function ({ el: tableComponent }) {
            let headerTr = tableComponent.getElementsByClassName("vtl-thead-tr");
            if (!headerTr[0]) {
                return;
            }

            let cloneTr = headerTr[0].cloneNode(true); // Clone first <tr>
            let childTh = cloneTr.getElementsByClassName("vtl-thead-th");
            for (let j = 0; j < childTh.length; j++) {
                // Clear <th>'s HTML
                childTh[j].innerHTML = "";
            }


            let self = this
            // console.log("initTable :: " + self.tableColumns.length)
            for (let i = 0; i < self.tableColumns.length; ++i) {
                // console.log("initTable :: " + self.tableColumns[i]["searchable"])
                if (self.tableColumns[i]["searchable"] === undefined || !self.tableColumns[i]["searchable"]) continue;
                // Create a input element and append to first <th>

                createApp(
                    defineComponent({
                        setup() {
                            return () =>
                                h("input", {
                                    value: self.searchTerms[i],
                                    onInput: (e) => {
                                        self.searchTerms[i] = e.target.value;
                                        // console.log("search term = " + self.searchTerms[i])
                                        self.cnt++
                                        self.updateDataFilters()
                                    },
                                });
                        },
                    })
                ).mount(childTh[i]);

                // append cloned element to the header after first <tr>
            }
            headerTr[0].after(cloneTr)
        },
        updateDataFilters() {
            // console.log("get table data")
            this.tableData = []
            this.loading = true
            if (this.data === undefined) return []

            let self = this

            for (let i = 0; i < this.data.length; ++i) {
                let x = this.data[i]
                let keys = Object.keys(x)
                let match = true

                for (let j = 0; j < keys.length; ++j) {
                    let value = x[keys[j]]
                    if (typeof value != 'string') continue
                    if (self.searchTerms[j] === undefined) continue
                    // console.log("check if ("+j+") " + keys[j] + " with value " + value + " == " + self.searchTerms[j])

                    if (!value.toLowerCase().includes(self.searchTerms[j].toLowerCase())) {
                        // console.log("nomatch for '" + value + "' with '" + self.searchTerms[j] + "'")
                        match = false
                        break
                    }
                }
                if (match) {
                    self.tableData.push(x)
                }
            }

            this.loading = false
        }
    }
}
</script>

<template>
    <div class="rules-table">
        <table-lite :is-loading="loading" :rows="tableData" :total="tableData.length" :columns="tableColumns"
            :is-static-mode="true" @VnodeMounted="initTable"></table-lite>
    </div>
</template>

<style scoped>
table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
</style>