<script>
export default {
    inject: ["$store", "queryDatabase"],
    data() {
        return {
            searchText: "",
            results: []
        }
    },
    methods: {
        searchForTitle: function () {
            console.log("search '" + this.searchText + "''")

            if (this.searchText.length > 0) {
                this.results = []
                let sql = `select name, 'Sonderfertigkeit', 'https://www.ulisses-regelwiki.de/'||wikiLink, kategorie, subkategorie from Sonderfertigkeiten where name like '%!X!%'
                           union
                           select name, 'Spezies', 'https://www.ulisses-regelwiki.de/'||wikiLink, '', '' from Spezies where name like '%!X!%'
                           union
                           select name, 'Kultur', 'https://www.ulisses-regelwiki.de/'||wikiLink, kategorie, '' from Kulturen where name like '%!X!%'
                           union
                           select name, 'Zauber', 'https://www.ulisses-regelwiki.de/'||wikiLink, merkmal, '' from Zauber where name like '%!X!%'
                           union
                           select a.name, 'Zaubererweiterung', 'https://www.ulisses-regelwiki.de/'||b.wikiLink, a.zauber, 'FW '||a.fw from Zaubererweiterungen a join Zauber b on a.zauber = b.name where a.name like '%!X!%' or a.zauber like '%!X!%'`
                sql = sql.replaceAll("!X!", this.searchText)

                this.queryDatabase(sql).then((result) => {
                    result.forEach(e => {
                        e["values"].forEach(r => {
                            this.results.push(r)
                        })
                    })
                    $("#search-result-dropdown").foundation('open')
                })
            } else {
                this.results = []
            }
        }
    },
    mounted() {
        $(document).foundation();
    }
}
</script>

<template>
    <div class="searchbox input-group" data-toggle="search-result-dropdown">
        <input class="searchField" type="text" placeholder="Suche..." v-on:input="searchForTitle" v-model="searchText" />
        <button class="submit success button" v-on:click="searchForTitle"><i class="fa-brands fa-searchengin"></i></button>
    </div>
    <div class="dropdown-pane searchResultPane" id="search-result-dropdown" data-dropdown data-auto-focus="true"
        >
        <table border="0">
            <tr v-for="r in results">
                <td><a v-bind:href="r[2]" >{{ r[0] }}</a></td>
                <td class="label primary">{{ r[1] }}</td>
                <td v-if="r[3] != ''" class="label success">{{ r[3] }}</td>
                <td v-if="r[4] != ''" class="label warning">{{ r[4] }}</td>
            </tr>
        </table>
    </div>
</template>

<style>
.searchbox {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin-bottom: 0px;
}

.searchField {
    margin: 0px;
    padding-bottom: 0px;
    height: 3rem;
}

.button {
    margin: 0px;
    height: 3rem;
}

.searchResultPane {
    width: 100%;
}
</style>