<script>
import { RouterLink, RouterView } from 'vue-router'
import Navigation from './components/Navigation.vue'
import DBVersionDisplay from './components/DBVersionDisplay.vue'
import SearchBar from './components/SearchBar.vue'

export default {
  components: {
    navigation: Navigation,
    dbversion: DBVersionDisplay,
    searchbar: SearchBar
  },
  inject: ['$store'],
  data() {
    return {
      dbLoaded: false
    }
  },
  created: function () {
    console.log('begin created HelloWorld')
    this.$store.dispatch('getDBFile', { self: this })
    console.log('end created HelloWorld')
  },
  methods: {
    DBFileIsLoaded() {
      this.dbLoaded = true
    }
  }
}

</script>

<template>
  <div v-if="!dbLoaded">
    <div class="loadingScreen">
      <div class="grid-x">
        <div class="cell"><img src="/src/assets/loadscreen.png" /></div>
        <div class="cell">
          <h3>Lade Datenbank...</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x" v-else>
    <div class="cell">
      <header>
        <div class="grid-x">
          <div class="cell medium-1" style="text-align: center;"><a href="/"><img src="/src/assets/icon.png" width="64"
                height="64" style="margin: auto;" /></a></div>
          <div class="cell medium-9" style="text-align: center;">
            <h1>Archive des Nandus</h1>
          </div>
          <div class="cell medium-1 text-center">
            <table>
              <tr><td><span class="label warning" style="width: 100%;"><i class="fa-solid fa-flask"></i> <strong>beta</strong></span></td></tr>
              <tr><td><dbversion style="width: 100%;"></dbversion></td></tr>
            </table>
          </div>
        </div>
      </header>
    </div>
    <div class="cell">
      <searchbar></searchbar>
    </div>
    <!--<div class="cell" style="border: 1px solid black; text-align: center;">DB State: {{ msg }}</div>-->
    <div class="cell medium-2" style="border-right: 1px solid black;">
      <navigation></navigation>
    </div>
    <div class="cell medium-10">
      <RouterView />
    </div>
    <div class="cell">
      <footer>
        <div class="grid-x">
          <div class="cell medium-3">
            <strong>Archive des Nandus</strong>
            <p>&copy; 2023 Daniel Eder</p>
          </div>
          <div class="cell medium-3"></div>
          <div class="cell medium-3"></div>
          <div class="cell medium-3">
            <ul class="vertical menu">
              <li><a href="/impressum">Impressum</a></li>
              <li><a href="/about">Über das Projekt</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<style scoped>
.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header {
  text-align: left;
  border-bottom: 1px solid black;
  background: #3e4444;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
}

footer {
  background: #3e4444;
  color: #fff;
  /*padding: 5px;*/
  padding-left: 10px;
}

footer .menu a {
  color: #3e4444;
  background-color: #82b74b;
}

footer .menu a:hover {
    background-color: #e3eaa7;
    color: #000;
}


</style>
